body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: grey;
}

.header-logo {
  font-family: 'Chivo', serif;
  font-size: 45;
  float: left;
  padding: 20px 40px;
}

.contact {
  float: left;
  margin: 0;
  padding: 0;
}

li {
  font-size: 15;
  list-style-type: none;
  display: inline-block
  float:left;
  margin: 0;
  padding: 0;
}

ul {
  border: 1px solid #2c2f33;
  background-color: #23272a;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li a {
  color: #ffffff;
}

li a:hover {
  background-color: #99aab5;
}

a, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1, h2 {
 font-family: 'Chivo', serif;
}

a {
  display: inline-block;
  opacity: 0.7;
}

.copy-container {
  background: url("../img/PhotobyNikaAkinfromPexels.jpg")
}
